{% load static %}
{% load humanize %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Vocaly / Transcripción Inteligente</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="/static/css2/assets/img/favicon.png" rel="icon">
  <link href="/static/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
  
  <!-- Vendor CSS Files -->
  <link href="/static/css2/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/static/css2/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="/static/css2/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="/static/css2/assets/vendor/quill/quill.snow.css" rel="stylesheet">
  <link href="/static/css2/assets/vendor/quill/quill.bubble.css" rel="stylesheet">
  <link href="/static/css2/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="/static/css2/assets/vendor/simple-datatables/style.css" rel="stylesheet">
  <style>
    .fixed-size-video {
        width: 50vw;  /* Ocupará el 50% del ancho de la ventana del navegador */
        height: 28.125vw;  /* Mantiene la relación de aspecto 16:9 */
        object-fit: cover;
    }
</style>
<!-- Wizard -->
  	<!--     Fonts and icons     -->
    <!-- <link href="http://netdna.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.css" rel="stylesheet"> -->
    <!-- CSS Files -->
    
    <!-- <link href="/static/css2/assets/css/bootstrapwizard.min.css" rel="stylesheet" /> -->
    <!-- <link href="/static/css2/assets/css/gsdk-bootstrap-wizard.css" rel="stylesheet"> -->
<!-- FIN WIZARD-->

  <!-- Template Main CSS File -->
  <link href="/static/css2/assets/css/style.css" rel="stylesheet">
  
 <!-- Custom Theme Style -->
  
	<!-- Mobile Specific Metas -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<!-- Font-->
	<link rel="stylesheet" type="text/css" href="/static/css2/assets/css/roboto-font.css">
	<!-- <link rel="stylesheet" type="text/css" href="/static/css2/assets/fonts/material-design-iconic-font/css/material-design-iconic-font.min.css"> -->
	<!-- datepicker -->
	<link rel="stylesheet" type="text/css" href="/static/css2/assets/css/jquery-ui.min.css">


  <!-- =======================================================
  * Template Name: NiceAdmin
  * Updated: Jul 27 2023 with Bootstrap v5.3.1
  * Template URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top d-flex align-items-center">

    <div class="d-flex align-items-center justify-content-between">
      <a href="/" class="d-flex align-items-center">
        <img src="/static/assets/images/logo.png" width="146" height="59" alt="">
      </a>
      <i class="bi bi-list toggle-sidebar-btn"></i>
    </div><!-- End Logo -->

    <div class="search-bar">
      <form class="search-form d-flex align-items-center" method="POST" action="/principal/">
        <input type="text" name="query" placeholder="Search" title="Enter search keyword">
        <button type="submit" title="Search"><i class="bi bi-search"></i></button>
      </form>
    </div><!-- End Search Bar -->

    <nav class="header-nav ms-auto">
      <ul class="d-flex align-items-center">

        <li class="nav-item d-block d-lg-none">
          <a class="nav-link nav-icon search-bar-toggle " href="#">
            <i class="bi bi-search"></i>
          </a>
        </li><!-- End Search Icon-->

        <li class="nav-item dropdown">

          <a class="nav-link nav-icon" href="#" data-bs-toggle="dropdown">
            <i class="bi bi-bell"></i>
            <span class="badge bg-primary badge-number">4</span>
          </a><!-- End Notification Icon -->

          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow notifications">
            <li class="dropdown-header">
              You have 4 new notifications
              <a href="#"><span class="badge rounded-pill bg-primary p-2 ms-2">View all</span></a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li class="notification-item">
              <i class="bi bi-exclamation-circle text-warning"></i>
              <div>
                <h4>Lorem Ipsum</h4>
                <p>Quae dolorem earum veritatis oditseno</p>
                <p>30 min. ago</p>
              </div>
            </li>

            <li>
              <hr class="dropdown-divider">
            </li>

            <li class="notification-item">
              <i class="bi bi-x-circle text-danger"></i>
              <div>
                <h4>Atque rerum nesciunt</h4>
                <p>Quae dolorem earum veritatis oditseno</p>
                <p>1 hr. ago</p>
              </div>
            </li>

            <li>
              <hr class="dropdown-divider">
            </li>

            <li class="notification-item">
              <i class="bi bi-check-circle text-success"></i>
              <div>
                <h4>Sit rerum fuga</h4>
                <p>Quae dolorem earum veritatis oditseno</p>
                <p>2 hrs. ago</p>
              </div>
            </li>

            <li>
              <hr class="dropdown-divider">
            </li>

            <li class="notification-item">
              <i class="bi bi-info-circle text-primary"></i>
              <div>
                <h4>Dicta reprehenderit</h4>
                <p>Quae dolorem earum veritatis oditseno</p>
                <p>4 hrs. ago</p>
              </div>
            </li>

            <li>
              <hr class="dropdown-divider">
            </li>
            <li class="dropdown-footer">
              <a href="#">Show all notifications</a>
            </li>

          </ul><!-- End Notification Dropdown Items -->

        </li><!-- End Notification Nav -->

        <li class="nav-item dropdown">

          <a class="nav-link nav-icon" href="#" data-bs-toggle="dropdown">
            <i class="bi bi-chat-left-text"></i>
            <span class="badge bg-success badge-number">3</span>
          </a><!-- End Messages Icon -->

          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow messages">
            <li class="dropdown-header">
              You have 3 new messages
              <a href="#"><span class="badge rounded-pill bg-primary p-2 ms-2">View all</span></a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li class="message-item">
              <a href="#">
                <img src="/static/css2/assets/img/messages-1.jpg" alt="" class="rounded-circle">
                <div>
                  <h4>Maria Hudson</h4>
                  <p>Velit asperiores et ducimus soluta repudiandae labore officia est ut...</p>
                  <p>4 hrs. ago</p>
                </div>
              </a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li class="message-item">
              <a href="#">
                <img src="/static/css2/assets/img/messages-2.jpg" alt="" class="rounded-circle">
                <div>
                  <h4>Anna Nelson</h4>
                  <p>Velit asperiores et ducimus soluta repudiandae labore officia est ut...</p>
                  <p>6 hrs. ago</p>
                </div>
              </a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li class="message-item">
              <a href="#">
                <img src="/static/css2/assets/img/messages-3.jpg" alt="" class="rounded-circle">
                <div>
                  <h4>David Muldon</h4>
                  <p>Velit asperiores et ducimus soluta repudiandae labore officia est ut...</p>
                  <p>8 hrs. ago</p>
                </div>
              </a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li class="dropdown-footer">
              <a href="#">Show all messages</a>
            </li>

          </ul><!-- End Messages Dropdown Items -->

        </li><!-- End Messages Nav -->

        <li class="nav-item dropdown pe-3">

          <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
            <img src="/static/css2/assets/img/profile-img.jpg" alt="Profile" class="rounded-circle">
            <span class="d-none d-md-block dropdown-toggle ps-2">{{user.first_name}} {{user.username}}</span>
          </a><!-- End Profile Iamge Icon -->
          {% if user.is_authenticated %}
            <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
              <li class="dropdown-header">
                <h6>Welcome, {{user.first_name}} {{user.username}} </h6>
                <span>Company: {{ usr_company.company_id.company_name }}</span>
              </li>
              <li>
                <hr class="dropdown-divider">
              </li>

              <li>
                <a class="dropdown-item d-flex align-items-center" href="/usersprofile.html">
                  <i class="bi bi-person"></i>
                  <span>My Profile</span>
                </a>
              </li>
              <li>
                <hr class="dropdown-divider">
              </li>

              <li>
                <a class="dropdown-item d-flex align-items-center" href="/usersprofile.html">
                  <i class="bi bi-gear"></i>
                  <span>Account Settings</span>
                </a>
              </li>
              <li>
                <hr class="dropdown-divider">
              </li>

              <li>
                <a class="dropdown-item d-flex align-items-center" href="/pages-faq.html">
                  <i class="bi bi-question-circle"></i>
                  <span>Need Help?</span>
                </a>
              </li>
              <li>
                <hr class="dropdown-divider">
              </li>

              <li>
                {% if user.is_authenticated %}
                <a class="dropdown-item d-flex align-items-center" href="{% url 'logout' %}">
                  <i class="bi bi-box-arrow-right"></i>
                  <span>Log Out</span>
                {% else %}
                  <a class="dropdown-item d-flex align-items-center" href="{% url 'login' %}">
                    <i class="bi bi-box-arrow-right"></i>
                  <span>Log Out</span>
                {% endif %}
                
                </a>
              </li>

            </ul><!-- End Profile Dropdown Items -->
          {% else %}
            <p>Welcome, guest</p>
          {% endif %}
        </li><!-- End Profile Nav -->

      </ul>
    </nav><!-- End Icons Navigation -->

  </header><!-- End Header -->

  <!-- ======= Sidebar ======= -->
  <aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">
      <li class="nav-item">
        <a class="nav-link collapsed" href="/dashboard">
          <i class="bi bi-grid"></i>
          <span>Dashboard2</span>
        </a>
      </li><!-- End Dashboard Nav -->
      <li class="nav-item">
        <a class="nav-link collapsed" href="/principal">
          <span>Panel</span>
        </a>
      </li>

      <li class="nav-heading">Opciones del Usuario</li>

      <li class="nav-item">
        <a class="nav-link collapsed" href="/upload">
          <i class="bi bi-mic-fill"></i>
          <span>Nueva Transcripción</span>
        </a>
      </li>
      <!-- trae las carpetas del usuario -->
      <div class="user-folders">      
        <a class="nav-link collapsed">
            <li class="nav-item">
              <!-- <a class="nav-link collapsed" href="#"> -->
                <a class="nav-link collapsed" data-bs-target="#folders" data-bs-toggle="collapse" href="#">
                  <i class="bi bi-folder"></i><span>Carpetas / Transcripciones</span><i class="bi bi-chevron-down ms-auto"></i>
                </a>
              <!-- <ul class="sidebar-nav"> -->
              <ul id="folders" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                  {% for folder in top_level_folders %}
                      <li class="nav-item">
                          <a class="nav-link " href="{% url 'folder_detail' folder.id %}">
                              <i class="bi bi-folder"></i>
                              <span>{{ folder.name }}</span>
                          </a>
                          {% with subfolders=folder.folder_set.all %}
                              {% if subfolders %}
                                  <ul>
                                      {% for subfolder in subfolders %}
                                          <li class="nav-item">
                                              <a class="nav-link" href="{% url 'folder_detail' subfolder.id %}">
                                                  <i class="bi bi-folder"></i>
                                                  <span>{{ subfolder.name }}</span>
                                              </a>
                                          </li>
                                      {% endfor %}
                                  </ul>
                              {% endif %}
                          {% endwith %}
                      </li>
                  {% endfor %}
                  <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#verticalycentered">
                    <i class="bi bi-folder"></i>
                    + Crear Carpeta
                </button>
              
              </ul>
            </li>  
        </a>
      </div>
      <!-- Fin de las carpetas del usuario -->
      <!-- Configuración del usuario -->
      <div class="user-config">      
        <li class="nav-item">
          <a class="nav-link collapsed" data-bs-target="#components-nav" data-bs-toggle="collapse" href="#">
            <i class="bi bi-gear"></i><span>Configuración</span><i class="bi bi-chevron-down ms-auto"></i>
          </a>
          <ul id="components-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
              <li class="nav-item">
                <a class="nav-link collapsed" href="/usersprofile">
                  <i class="bi bi-person"></i>
                  <span>Profile</span>
                </a>
              </li><!-- End Profile Page Nav -->
              
              <li class="nav-item">
                <a class="nav-link collapsed" href="/pagesfaq">
                  <i class="bi bi-question-circle"></i>
                  <span>F.A.Q</span>
                </a>
              </li><!-- End F.A.Q Page Nav -->

              <li class="nav-item">
                <a class="nav-link collapsed" href="/pagescontact">
                  <i class="bi bi-envelope"></i>
                  <span>Contact</span>
                </a>
              </li><!-- End Contact Page Nav -->
          </ul>
        </li><!-- Fin configuración del usuario -->
      </div>
    </ul>


  </aside><!-- End Sidebar-->

  <main id="main" class="main">
    
    {% block content %}
    <!-- Aquí va el contenido de la página -->
    {% endblock %}
  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">
    <div class="copyright">
      &copy; Copyright <strong><span>iLexia S.A.S</span></strong> - 2023. All Rights Reserved
    </div>
    <div class="credits">
      <!-- All the links in the footer should remain intact. -->
      <!-- You can delete the links only if you purchased the pro version. -->
      <!-- Licensing information: https://bootstrapmade.com/license/ -->
      <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/ -->
      Designed by <a href="https://ilexia.co/">iLexia</a>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="/static/css2/assets/vendor/apexcharts/apexcharts.min.js"></script>
  <script src="/static/css2/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/static/css2/assets/vendor/chart.js/chart.umd.js"></script>
  <script src="/static/css2/assets/vendor/echarts/echarts.min.js"></script>
  <script src="/static/css2/assets/vendor/quill/quill.min.js"></script>
  <script src="/static/css2/assets/vendor/simple-datatables/simple-datatables.js"></script>
  <script src="/static/css2/assets/vendor/tinymce/tinymce.min.js"></script>
  <script src="/static/css2/assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="/static/css2/assets/js/main.js"></script>

<!-- Template Wizard sin sesion -->
  <!-- <script src="/static/css2/assets/js/jquery-2.2.4.min.js"></script>
  <script src="/static/css2/assets/js/bootstrap.min.js"></script>
  <script src="/static/css2/assets/js/jquery.bootstrap.wizard.js"></script> -->
  <!--  Plugin for the Wizard -->
  <!-- <script src="/static/css2/assets/js/gsdk-bootstrap-wizard.js"></script> -->
  <!--  More information about jquery.validate here: http://jqueryvalidation.org/	 -->
  <!-- <script src="/static/css2/assets/js/jquery.validate.min.js"></script> -->

<!-- FIN WIZARD -->
  <!-- <script src="/static/css2/assets/js/jquery-3.3.1.min.js"></script>
	<script src="/static/css2/assets/js/jquery.steps.js"></script> -->
	<script src="/static/css2/assets/js/jquery-ui.min.js"></script>
	<script src="/static/css2/assets/js/main2.js"></script>

</body>

</html>