{% extends 'index_master.html' %}
{% block content %}

    <div class="pagetitle">
      <h1>Welcome, {{user.first_name}} {{user.username}} </h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/">Home</a></li>
          <li class="breadcrumb-item">Pages</li>
          <li class="breadcrumb-item active">principal</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section">
      <div class="row">
        <div class="col-lg-6">

          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Últimas Transcripciones</h5>
              <a href="{% url 'upload_file' %}" class="btn btn-primary">
                <i class="bi bi-soundwave"></i> Nueva Transcripción
            </a>
            
            </div>
          </div>

        </div>

      </div>
      <div class="row">
        <div class="col-lg-12">

          <div class="card">
            <div class="card-body">
              <!-- Table with stripped rows -->
              <table class="table datatable">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Número de ID</th>
                    <th scope="col">Nombre/Tipo</th>
                    <th scope="col">Duración</th>
                    <th scope="col">Fecha</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td>12345678913456789</td>
                    <td>Andrade - Lopez AUDIENCIA</td>
                    <td>28:00</td>
                    <td>2016-05-25</td>
                  </tr>
                  <tr>
                    <th scope="row">2</th>
                    <td>123456789134533333</td>
                    <td>Gonzalez - Arboleda Audio</td>
                    <td>3:15</td>
                    <td>2014-12-05</td>
                  </tr>
                  <tr>
                    <th scope="row">3</th>
                    <td>1234567891345333444</td>
                    <td>Compensar - Rama Judicial</td>
                    <td>45:30</td>
                    <td>2011-08-12</td>
                  </tr>
                  <tr>
                    <th scope="row">4</th>
                    <td>1234567891345333444</td>
                    <td>Rama Judicial - Cundinamarca</td>
                    <td>34:45</td>
                    <td>2012-06-11</td>
                  </tr>
                  
                </tbody>
              </table>
              <!-- End Table with stripped rows -->

            </div>
          </div>

        </div>
      </div>
    </section>

    <section class="section">
      <div class="user-folders">
        <a class="nav-link collapsed">
            <!-- <i class="bi bi-folder"></i>
            <span>Tus CASOS:</span> -->

            <ul class="sidebar-nav">
                {% for folder in top_level_folders %}
                    <li class="nav-item">
                        <a class="nav-link collapsed" href="{% url 'folder_detail' folder.id %}">
                            <i class="bi bi-folder"></i>
                            <span>{{ folder.name }}</span>
                        </a>
                        {% with subfolders=folder.folder_set.all %}
                            {% if subfolders %}
                                <ul>
                                    {% for subfolder in subfolders %}
                                        <li class="nav-item">
                                            <a class="nav-link" href="{% url 'folder_detail' subfolder.id %}">
                                                <i class="bi bi-folder"></i>
                                                <span>{{ subfolder.name }}</span>
                                            </a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        {% endwith %}
                    </li>
                {% endfor %}
            </ul>
            <!-- <button type="button" class=" btn btn-light" data-bs-toggle="modal" data-bs-target="#verticalycentered">
              + Crear Carpeta
            </button> -->
        </a>
    </div>
    
    <!-- Botón para abrir la modal -->
      <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#verticalycentered">
          <i class="bi bi-folder"></i>
          + Crear Carpeta
      </button>

        <!-- Modal para crear carpeta -->
        <div class="modal fade" id="verticalycentered" tabindex="-1" aria-labelledby="verticalycenteredLabel" aria-hidden="true">
          <div class="modal-dialog">
              <div class="modal-content">
                  <div class="modal-header">
                      <h5 class="modal-title" id="verticalycenteredLabel">Crear Nueva Carpeta</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                      <form method="post" action="{% url 'principal' %}">
                          {% csrf_token %}
                          <div class="mb-3">
                              <label for="folderName" class="form-label">Nombre de la Carpeta:</label>
                              <input type="text" class="form-control" id="folderName" name="folder_name" required>
                          </div>
                          <div class="mb-3">
                              <label for="parentFolder" class="form-label">Carpeta superior (opcional):</label>
                              <select class="form-control" id="parentFolder" name="parent_folder">
                                  <option value="">Ninguna</option>
                                  {% for folder in top_level_folders %}
                                      <option value="{{ folder.id }}">{{ folder.name }}</option>
                                  {% endfor %}
                              </select>
                          </div>
                          <button type="submit" class="btn btn-primary">Crear Carpeta</button>
                      </form>
                  </div>
              </div>
          </div>
        </div>

    </section>
  
    {% endblock %}